.contact-container {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto-Mono", monospace;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

@media (max-width: 1024px) {
  .contact-container {
    height: 100vh;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.contact-title {
  font-size: 1.875rem;
  font-weight: 600;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: var(--dark-text);
}

.contact-pair {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.contact-email {
  text-decoration: none;
  color: var(--dark-text);
}

.contact-email:hover {
  text-decoration: underline;
}

input,
textarea {
  font-family: "Roboto-Mono", monospace;
  width: 18rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 2px solid rgb(226 232 240);
  margin: 0.5rem;
  font-size: 0.9rem;
  outline: none;
  caret-color: var(--dark-text);
  background-color: var(--input-color);
  caret-color: var(--dark-text);
}

textarea {
  min-height: 5rem;
  resize: vertical;
  overflow: auto;
}

input:hover,
textarea:hover {
  transition: 0.3s ease;
  border-color: var(--dark-text);
}

input:focus,
textarea:focus {
  border-spacing: 10px;
  border-color: var(--dark-text);
}

input::placeholder,
textarea::placeholder {
  color: #b4b4b8;
}

.submit {
  width: 18rem;
  background-color: var(--submit-color);
  border: 2px solid #b4b4b8;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--input-color);
  transition: 0.3s ease;
  border-color: #b4b4b8;
  color: #b4b4b8;
}

.send-icon {
  width: 1rem;
}
