.card-container {
    background-color: #fff;
    height: 38rem;
    border-radius: 1rem;
    flex:1;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-image {
    width: 95%;
    border-radius: 1rem;
}

.card-info {
    background-color: rgba(0, 0, 255, 0.221);
    width: 95%;
    padding: 0.5rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
}


