.about-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.about-title {
  font-size: clamp(3rem, 10vw, 7rem);
  color: var(--container-title);
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}

.about-description {
  display: flex;
  gap: 2rem;
  

}

.background {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #fff;
  text-align: justify;
}

.skills-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  gap: 2rem;
}

.skill-category {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.skill-category-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skill-category-item:hover {
  text-decoration: underline;
}

.skill-image {
  width: 1rem;
}

.skill-category-label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.skill-category ul {
  list-style-type: none;
  padding-left: 0;
}

.skill-category ul li {
  padding: 0.2rem;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {

  .about-container {
    justify-content: center;
    align-items: center;
  }

  .about-title {
    font-size: clamp(2rem, 5vw, 5rem);
  }
  .about-description {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    padding: 1rem;
  }

  .about-title {
    margin-bottom: 1.5rem;
  }

  .background {
    text-align: center;
  }

  .skills-container {
    justify-content: space-between;
  }

  .skill-category {
    width: calc(50% - 1rem);
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    padding: 0.5rem;
    
   
  }

  .about-title {
    margin-bottom: 1rem;
  }

  .background {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .skills-container {
    flex-direction: column;
  }


  .skill-category-label {
    font-size: 0.9rem;
  }

  .skill-category ul li {
    font-size: 0.8rem;
  }

  .skill-image {
    width: 0.8rem;
  }
}