.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.about-pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.about-title {
    font-size: 7rem;
    color: var(--container-title);
    font-weight: 800;
    margin: 3rem;

}

.portrait {
    width: 20rem;
    border-radius: 1rem;
    
}

.about-description {
    display: inline-block;
    max-width: 40rem;
    font-size: 2.1rem;
    color: var(--container-text);
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    text-align: justify;
    hyphens: auto;
}

@media (max-width: 1000px) {
    
    .about-pair {
        flex-direction: column;
    }

    .about-title {
        font-size: 5rem;
    }

    .about-description {
        margin: 1rem;
    }

}
