.about-container {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 7rem;
  color: var(--container-title);
  font-weight: 800;
  margin: 3rem;
}

.about-description {
  display: flex;
}

.background {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.5rem;
  color: #fff;
}

.skills-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Keeps the skill categories centered in the container */
  color: white;
  margin: 0;
  gap: 3rem;
}

.skill-category {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.skill-category-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skill-category-item:hover {
  text-decoration: underline;
}

.skill-image {
  width: 1rem;
}

.skill-category-label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.skill-category ul {
  list-style-type: none;
}

.skill-category ul li {
  padding: 0.2rem;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .about-title {
    font-size: 5rem;
  }

  .about-description {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
