@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Black.ttf') format('truetype');
}


.landingpage-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(152, 190, 223);
}