.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  z-index: 0;
  position: fixed;
}

.hero-text {
  font-size: 5rem;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  color: var(--dark-text);
}

.hero-name {
  font-size: 5rem;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  background-image: var(--hero-name);
  background-size: 200% 100%; /* Set background-size to cover the entire text */
  animation: gradientAnimation 3s infinite alternate;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .hero-text,
  .hero-name {
    font-size: 2rem; /* Adjust the font size for smaller screens */
    margin-left: -10vw; /* Adjust the margin for smaller screens */
    margin-right: -8vw; /* Adjust the margin for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .hero-text,
  .hero-name {
    font-size: 2rem; /* Adjust the font size for smaller screens */
  }

  .hero-location,
  .hero-small-about {
    font-size: 0.6rem; /* Adjust the font size for smaller screens */
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.hero-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  font-weight: 500;
  margin-top: 2rem;
}

.location-icon {
  width: 1rem;
  height: 1rem;
  padding-right: 0.5rem;
}

.location-link {
  text-decoration: none;
  color: var(--link-color);
}

.location-link:hover {
  text-decoration: underline;
}

.hero-small-about {
  margin-top: 2rem;
  color: var(--link-color);
}
